@import 'variaveis.scss';

$cor: #151fdb;
$cor2: rgb(224, 224, 224);
$cor3: #23b999;

*{
    margin: 0;
}

header {
    background-color: $cor3;
    padding: 10px;
    text-align: center;
    position: sticky;
    a {
        color: white;
        padding: 10px 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
    }
}

div {
    width: 900px;
    height: 500px;;
    background-color: $cor2;
    padding: 30px;
    margin: 0 auto;
    p {
    color: $chor;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

footer{
    text-align: center;
    background-color: #16705d;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}